<form class="PaperBagDetails" [formGroup]="bagDimensionsForm">
    <div class="row">
        <div class="col-md-12">
            <p>
                <label>
                    Height:
                    <input type="number" formControlName="height">
                </label>
            </p>

            <p>
                <label>
                    Width:
                    <input type="number" formControlName="width">
                </label>
            </p>

            <p>
                <label>
                    Bottom:
                    <input type="number" formControlName="bottom">
                </label>
            </p>

            <p>
                <label>
                    LIP:
                    <input type="number" formControlName="lip">
                </label>
            </p>

            <p>
                <label>
                    Paper Thickness in GSM:
                    <input type="number" formControlName="paperThickness">
                </label>
            </p>

            <p>
                <label>
                    Rate per Kilo:
                    <input type="number" formControlName="ratePerKilo">
                </label>
            </p>

            <p>
                <label>
                    Cost to Print:
                    <input type="number" formControlName="costToPrint">
                </label>
            </p>

            <p>
                <label>
                    Margin:
                    <input type="number" formControlName="margin">
                </label>
            </p>
        </div>
    </div>

</form>


<hr />

<div>
    <p>
        <label>
            Sheet Size (L x W):
            {{getSheetSize()}} cm &#178;
        </label>
    </p>
    <p>
        <label>
            Weight per Sheet:
            {{getWeightPerSheet()}} grams
        </label>
    </p>
    <p>
        <label>
            Number of Sheets per Kg (N):
            {{getNumberOfSheetPerKg()}} => {{Math.floor( getNumberOfSheetPerKg() )}}
        </label>
    </p>
    <p>
        <label>
            Cost per Unit (C):
            {{getCostPerUnit()}} &#8377;
        </label>
    </p>
    <p>
        <label>
            Cost to Print (P):
            {{getCostToPrint()}} &#8377;
        </label>
    </p>
    <p>
        <label>
            Rate per Unit (RPU):
            {{getRatePerUnit()}} &#8377;
        </label>
    </p>
    <p>
        <label>
            Sheet Selling Price (SSP):
            {{getSheetSellingPrice()}} &#8377;
        </label>
    </p>


</div>